version: '3.9'
services:
  postgres:
    image: postgres:16
    restart: unless-stopped
    env_file:
      - .env.docker
    ports:
      - '5432:5432'
    volumes:
      - peca-data:/var/lib/postgresql/data

volumes:
  peca-data:
